@using RealEstate.Web.Models.Advert
@model SearchAdvertListViewModel
<div class="search-header-banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="sec-heading center">
					<h2>ARADIĞIN RÜYA</h2>
					<p>
						Aradığın kriterlere uygun @Model.AdvertCount kayıt bulundu.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<section>

	<div class="container">
		<div class="row">
			@foreach (var item in Model.SearchAdverts)
			{
				<div class="col-lg-12 col-sm-12 list-layout">
					<div class="row">
						<!-- Single Property Start -->
						<div class="col-lg-12 col-md-12">
							<div class="property-listing property-1">

								<div class="listing-img-wrapper">
									<a href="/ilanlar/ilanDetay/@item.Id">
										<img src="~/img/img_1.jpg" class="img-fluid mx-auto" alt="">
									</a>
									
								</div>
								<div class="listing-content">

									<div class="listing-detail-wrapper">
										<div class="listing-short-detail">
											<h4 class="listing-name"><a href="/ilanlar/ilanDetay/@item.Id">@item.Title</a></h4>
											<span class="listing-location"><i class="ti-location-pin"></i>@item.Adress</span>
										</div>
									</div>

									<div class="listing-features-info">
										<ul>
											<li><strong>Oda:</strong>@item.Rooms</li>
											<li><strong>Bulunduğu kat:</strong>@item.Floor</li>
											<li><strong>Metre Kare:</strong>@item.Area</li>
										</ul>
									</div>

									<div class="listing-footer-wrapper">
										<div class="listing-price">
											<h4 class="list-pr">Fiyat:@item.Price ₺</h4>
										</div>
										<div class="listing-detail-btn">
											<a href="/ilanlar/ilanDetay/@item.Id" class="more-btn">Detay</a>
										</div>
									</div>

								</div>

							</div>
						</div>


					</div>

					<!-- Pagination -->
				

				</div>
			}
		@* 	<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<ul class="pagination p-center">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span class="ti-arrow-left"></span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item active"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">...</a></li>
						<li class="page-item"><a class="page-link" href="#">18</a></li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span class="ti-arrow-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</div>
			</div> *@

		</div>
	</div>
</section>